#localizacao {
    background: #e3e3e3;
    position: relative;
    overflow: hidden;
}

#localizacao header {
    text-align: left;
}

#localizacao .content span.span {
    font-size: 1.6rem;
    color: var(--red);
    font-weight: 400;
}

#localizacao h2 {
    margin-top: .5rem;
    font-size: 2.8rem;
    color: var(--gray);
    font-weight: 500;

    margin-bottom: 4rem;
}

#localizacao a button {
    margin-bottom: 4rem;

    border-radius: 1rem;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background: var(--gradient);
    color: var(--white);
    margin-top: 2rem;

    transition: all 200ms ease-in-out;
}

#localizacao a button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

#localizacao {
    background-image: url(../assets/cebrom-_1_.webp);
    background-size: cover;
  }
  
  #localizacao .mapa {
    height: 30rem;
    padding-inline: 2.4rem;
  }
  
  #localizacao .mapa iframe {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }

  @media (min-width: 1080px) {
    section#localizacao {
        padding-block: 0;
        padding-top: 8rem;
        padding-bottom: 0;
    }
    section#localizacao header {
        text-align: center;
        margin-bottom: 1rem;
    }
    
    section#localizacao .content span.span {
        font-size: 1.6rem;
        color: var(--red);
        font-weight: 400;
    }
    
    section#localizacao h2 {
        margin-top: .5rem;
        font-size: 3.5rem;
        color: var(--gray);
        font-weight: 500;
    
        margin-bottom: 1rem;
    }

    section#localizacao a button {
        margin-bottom: 5rem;
    }

    section#localizacao .mapa {
        padding-inline: initial;
      }
    
      section#localizacao .mapa iframe {
        border-radius: 0;
        height: 65rem;
        width: 100%;
      }
  }

  