#clientes {
    background: var(--white);
    position: relative;
    overflow: hidden;
}

#clientes header {
    text-align: left;
}

#clientes .content span.span {
    font-size: 1.6rem;
    color: var(--red);
    font-weight: 400;
}

#clientes h2 {
    margin-top: .5rem;
    font-size: 2.8rem;
    color: var(--gray);
    font-weight: 500;

    margin-bottom: 4rem;
}

#clientes .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clientes .cards img {
    width: 20rem;
}

@media (min-width: 1080px) {    
    section#clientes {
        padding-top: 10rem;
    }

    section#clientes header {
        text-align: center;
        margin-bottom: 1rem;
    }
    
    section#clientes .content span.span {
        font-size: 1.6rem;
        color: var(--red);
        font-weight: 400;
    }
    
    section#clientes h2 {
        margin-top: .5rem;
        font-size: 3.5rem;
        color: var(--gray);
        font-weight: 500;
    
        margin-bottom: 7rem;
    }

    section#clientes .content .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5rem;
    }

    section#clientes .content .cards .card {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section#clientes .content .cards img {
        width: 100%;
    }
}